# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules

# profiling files
chrome-profiler-events.json
speed-measure-plugin.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db


/serverless/AddAhorro/src/AddAhorro/.vs
/serverless/ConsultaMovimientos/src/ConsultaMovimientos/.vs
/serverless/ConsultaMovimientosUnitario/src/ConsultaMovimientosUnitario/.vs

backend/serverless/ConsultaMovimientos/src/ConsultaMovimientos/obj/
backend/serverless/ConsultaMovimientos/src/ConsultaMovimientos/.vs/
backend/serverless/ConsultaMovimientos/src/ConsultaMovimientos/bin/
backend/GastosTracker.Web/obj/
backend/serverless/AddAhorro/src/AddAhorro/.vs/
backend/serverless/AddAhorro/src/AddAhorro/obj/
backend/serverless/AddAhorro/src/AddAhorro/.vs/
