<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a  routerLinkActive="active" [routerLink]="'/'" class="navbar-brand">Home</a>
            <!-- <a [routerLink]="'/'" class="nav-link">Summary</a> -->
        </div>
        <div class="navbar-collapse collapse" *ngIf="auth.showLinks">
                <ul class="nav navbar-nav">
                        <li routerLinkActive="active">
                          <a [routerLink]="'/summary'">Summary </a>
                        </li>
                        <li  routerLinkActive="active"><a [routerLink]="['/addMovimiento']">Nuevo movimiento</a></li>
                        <li  routerLinkActive="active"><a [routerLink]="['/inversiones']">Inversiones</a></li>

                      </ul>
        </div>
    </div>
</div>
<div class="container body-content">
  <!-- <div class="container main" [@slideInAnimation]="o.isActivated ? o.activatedRoute : ''"> -->
  <div class="container main">

      <router-outlet #o="outlet"></router-outlet>

  </div>
    <hr />
    <footer>

    </footer>
</div>




