<div  class="table-responsive">
  <table class="table">
      <thead>
      <tr>
          <th>Id</th>
          <th>Cuenta</th>
          <th>Tipo</th>
          <th>Monto</th>
          <th>Fecha</th>
          <th>Comentario</th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let movimiento of movimientos" class='selectable' [routerLink]="['/edit',movimiento.idMovimiento, movimiento.cuenta]"   >
          <td><a>{{movimiento.idMovimiento}}</a></td>
          <td>{{movimiento.cuenta}}</td>
          <td [ngClass]="{'blue': movimiento.tipo == 'ahorro', 'red': movimiento.tipo == 'gasto'}">{{movimiento.tipo}}</td>
          <td>{{movimiento.monto | currency}}</td>
          <td>{{movimiento.fecha}}</td>
          <td>{{movimiento.comentario}}</td>
        </tr>

      </tbody>
  </table>
  <div class="alert alert-danger" *ngIf="error">
    {{errorMessage.message}}
  </div>
</div>

